table {
 
  font-size: 14px;
  width: 100%;
  text-align: left;
  /*border-collapse: collapse;*/

  background: -webkit-linear-gradient(top, #362f2c 0%,#282321 100%);
  /*display: inline-block;*/
  box-shadow: inset 0 1px 0 #564b46, 0 1px 1px #181514;
  border-radius: 4px;
  margin: 10px 30px 80px 15px;
  padding 8px;
}

table th {
	background: -webkit-linear-gradient(top, #362f2c 0%,#282321 100%);
border-collapse: collapse;
  padding: 8px 2px;
  font-weight: normal;
  /*text-shadow: #eee 0 1px;*/
  /*text-shadow: 0 1px 1px #000;*/
	
  font-size: 12px;
  text-align: center;
  text-shadow: 0 1px 0 #6c5e5b, 0 -1px 0 rgba(0,0,0,0.6);
  

  /*border-bottom: 2px solid rgb(0,0,0);*/
  /*border-right: 30px solid rgba(0,0,0,0); */ /* yellow ;/*#362f2d;*/
  border-left: 30px solid rgba(0,0,0,0);;/* #362f2d;*/
  /*box-shadow: 0 1px 0 #6c5e5b, 0 -1px 0 rgba(0,0,0,0.6);*/
  /*color: rgba(0,0,0,0);*/
  /*color: #282321;*/

}

table td {

  font-weight: normal;
  /*border-right: 30px solid rgba(0,0,0,0);*/  /* #362f2d;*/
  border-left: 30px solid rgba(0,0,0,0);    /* tomato;*/
  /*background-color: rgba(0,0,0,0);*/
  /*padding: 0px 2px;*/
}

